<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextName>logback</contextName>
    <!-- logger标签定义包下日志级别 -->
    <logger name="org.springframework" level="error"/>
    <logger name="org.springboot.sample" level="error"/>
    <logger name="com.huiway.activiti" level="debug"/>
    <property name="log.path" value="./logs/"/>
    <property name="log.name" value="huiwayActiviti"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天一归档 -->
            <fileNamePattern>${log.path}/${log.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="warn">
        <appender-ref ref="file"/>
    </root>
</configuration>